# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.bak/
env/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs and outputs
*.log
*.csv
*.pkl
*.joblib

# Ignore model and output files (optional)
outputs/
data/feature_engineered_data.csv
outputs/models/
